<!-- Menu -->
<nz-space-compact>
  <button nz-button nzType="primary" (click)="startCapture()" [disabled]="ns.selectedInterface.getValue() === -1 || isCapturing">{{'NETWORK.START'| translate}}</button>
  <button nz-button nzType="primary" (click)="stopCapture()" [disabled]="!isCapturing">{{'NETWORK.STOP' | translate}}</button>
  <button nz-button nzType="primary" (click)="showFilter()" [disabled]="false">
    <nz-icon nzType="search" nzTheme="outline"/> 
  </button>
  <button nz-button nzType="primary" [disabled]="filteredData.length === 0 || isCapturing"
      nz-tooltip nzTooltipTitle="{{'NETWORK.HEADER.DELETE-CAPTURE' | translate}}"
      nz-popconfirm nzPopconfirmTitle="{{'GENERAL.CONFIRM-DELETE' | translate }}" (nzOnConfirm)="resetData()" 
      nzOkText="{{'GENERAL.CONFIRM' | translate}}" nzCancelText="{{'GENERAL.CANCEL' | translate}}">
    <nz-icon nzType="delete" nzTheme="outline"/>
  </button>
  <!-- #TODO : faire un style dynamique lorsque la cpature a été sauvegardée avec un message qui se lance -->
  <button nz-button nzType="primary" [disabled]="filteredData.length === 0 || isCapturing" 
    nz-tooltip nzTooltipTitle="{{'NETWORK.HEADER.SAVE-CAPTURE' | translate}}" (click)="saveData()">
    <nz-icon nzType="download" nzTheme="outline"/>
  </button>
</nz-space-compact>

<!-- Filter -->
 @if(setFilter){
  <app-network-filter></app-network-filter>
 }

<!-- Network  -->
<nz-table [nzData]="filteredData" nzSize="small">
  <thead>
    <tr>
      <th nzWidth="50px">{{'NETWORK.TABLE.ID' | translate}}</th>
      <th nzWidth="130px">{{'NETWORK.TABLE.TIMESTAMP' | translate}}</th>
      <th nzWidth="130px">{{'NETWORK.TABLE.SOURCE' | translate}}</th>
      <th nzWidth="130px">{{'NETWORK.TABLE.DESTINATION' | translate}}</th>
      <th nzWidth="130px">{{'NETWORK.TABLE.PROTOCOL' | translate}}</th>
      <th >{{'NETWORK.TABLE.LENGTH' | translate}}</th>
    </tr>
  </thead>
  <tbody>
    @for (packet of filteredData; track packet.id) {
    <tr>
      <td>{{ packet.id }}</td>
      <td>{{ packet.timestamp }}</td>
      <td>{{ packet.src_ip }}</td>
      <td>{{ packet.dest_ip }}</td>
      <td>{{ packet.protocol }}</td>
      <td>{{ packet.length }}</td>
    </tr>
    }
  </tbody>
</nz-table>