/* Sidebar entière */
.sidebar-menu-wrapper {
  height: 100vh;        /* pleine hauteur de la fenêtre */
  display: flex;
  flex-direction: column;
}

/* Menu NG-ZORRO */
.sidebar-menu {
  flex: 1;              /* prend tout l'espace vertical restant */
  display: flex;
  flex-direction: column;
}

/* Spacer pousse le bouton tout en bas */
.sidebar-spacer {
  flex: 1;
}

/* Paramètres */
.setting-item {
  margin-bottom: 0px;
}

.sidebar-logo-container {
  display: flex;
  align-items: center;
  padding: 16px;
  cursor: pointer;
}

.logo-text {
  margin-left: 8px;
  font-weight: bold;
}
